<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{manage/layout}">
<head>
</head>

<body>
<div layout:fragment="content">
    <div class="x-body layui-anim layui-anim-up">
        <form class="layui-form">
            <input th:if="${_csrf!=null}" type="hidden"
                   th:name="${_csrf.parameterName}"
                   id="_csrf"
                   th:value="${_csrf.token}"/>
            <div class="layui-form-item" hidden="hidden">
                <label for="L_id" class="layui-form-label">
                    id
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_id" name="id" required="true" lay-verify="id"
                           autocomplete="off" class="layui-input" th:value="${menu.id}" disabled="disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>栏目选择
                </label>
                <div class="layui-input-block">
                    <select lay-filter="parentId" name="parentId" lay-verify="parentId">
                        <option value="0">顶级菜单</option>
                        <option th:each="m:${menus}" th:if="${not #lists.isEmpty(menus) and m.leaf==false}"
                                th:selected="${menu.pId==m.id?'selected':'false'}" th:value='${m.id}'
                                th:inline="text">[[${m.name}]]
                        </option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_name" class="layui-form-label">
                    <span class="x-red">*</span>菜单名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_name" name="name" required="true" lay-verify="name"
                           autocomplete="off" class="layui-input" th:value="${menu.name}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_sort" class="layui-form-label">
                    <span class="x-red">*</span>权重
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_sort" name="sort" required="true" lay-verify="sort"
                           autocomplete="off" class="layui-input" th:value="${menu.sort}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>最终页面
                </label>
                <div class="layui-input-block">
                    <input type="radio" name="leaf" value="true" title="true"
                           th:checked="${menu.leaf==true?'checked':'false'}">
                    <div class="layui-unselect layui-form-radio layui-form-radioed">
                        <i
                                class="layui-anim layui-icon layui-anim-scaleSpring">
                        </i>
                        <div>是</div>
                    </div>
                    <input type="radio" name="leaf" value="false" title="false"
                           th:checked="${menu.leaf==false?'checked':'false'}">
                    <div class="layui-unselect layui-form-radio">
                        <i class="layui-anim layui-icon"></i>
                        <div>否</div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_icon" class="layui-form-label">
                    图标
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_icon" name="remark" required="false" lay-verify="icon"
                           autocomplete="off" class="layui-input" th:value="${menu.icon}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_url" class="layui-form-label">
                    路径
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_url" name="url" required="false" autocomplete="off"
                           class="layui-input" th:value="${menu.url}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    确定
                </button>
            </div>
        </form>
    </div>
</div>
<div layout:fragment="script">
    <link rel="stylesheet" th:href="@{/style/manage/menu/menu.css}">
    <script>
      layui.use(['form', 'layer'], function() {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        //自定义验证规则
        form.verify({
          sort: function(value) {
            if (value.length < 1) {
              return '请输入Code';
            }
          },
          name: function(value) {
            if (value.length < 1) {
              return '请输入名称';
            }
          },
          alia: function(value) {
            if (value.length < 1) {
              return '请输入值';
            }
          }
          //, name: [/(.+){6,12}$/, '密码必须6到12位']
        });

        //监听提交
        form.on('submit(add)', function(data) {
          $('.layui-btn').attr('disabled', 'disabled');
          $('.layui-btn').css('background', '#ccc');
          data.field['_method'] = 'put';
          console.log(data);
          $.ajax({
            url: '/manage/menu/' + data.field.id,
            type: 'post',
            data: data.field,
            success: function(data) {
              $('.layui-btn').removeAttr('disabled');
              $('.layui-btn').css('background', '#009688');
              if (data.result == true) {
                //刷新表
                window.parent.refresh();

                layer.alert(data.msg, {icon: 1}, function() {
                  // 获得frame索引
                  var index = parent.layer.getFrameIndex(window.name);
                  //关闭当前frame
                  parent.layer.close(index);
                  top.location.href = '/manage/index';
                });
              } else {
                layer.alert(data.msg, {icon: 2});
              }
            }
          });
          return false;
        });

      });
    </script>
</div>
</body>

</html>
<!--TODO: 错误
    1.修改时parentId为字符串的时候:
    {
      "result": false,
      "data": null,
      "msg": "系统繁忙,请稍后再试"
    }

    2.修改时name过长：
    {
      "result": false,
      "data": null,
      "msg": "提交信息有误: "
    }

    3.修改时url限制长度增加为100

    3.修改时sort为字符串的时候：
    {
      "result": false,
      "data": null,
      "msg": "提交信息有误: "
    }
-->